title = "e-Shop"
url = "/e-shop"
layout = "default"
is_hidden = 0

[ProductList]
sorting = "no"
==
<section class="page-banner second-22">
	<div class="container">
		<div class="bread">
			<h3>منتجاتنا</h3>
		</div>
	</div>
</section>
<section class="in-page">
	<div class="container">
	{% set list = ProductList.make().active() %}
		<table class="table table-hover">
			<thead >
				<tr>
					<td style="width: 100px;"></td>
					<th>الاسم</th>
					<th>الفئة</th>
					<th>وصف المنتج</th>
					<th style="width: 50px;">السعر</th>
				</tr>
			</thead>
			<tbody>
				{% for item in list %}
				<tr>
					<td>
						{% if item.preview_image is not empty %}
		                    <a href="{{'product'|page({'slug':item.slug})}}"><img class="image-fluid" src="{{ item.preview_image.thumb(100,100,'crop') }}" title="{{ item.preview_image.title }}" alt="{{ item.preview_image.description }}"></a>
		                {% endif %}
					</td>
					<td>
						<b><a href="{{'product'|page({'slug':item.slug})}}">{{item.name}}</a></b>
						
					</td>
					<td>
						{{item.category.name}}
					</td>
					<td>
						<a href="{{'product'|page({'slug':item.slug})}}">{{item.preview_text}}</a>
					</td>
					<td>
						{% set obOffer = item.offer.first() %}
					    {% if obOffer.isNotEmpty()%}  
					        <p class="start-price text-left"><b> <span class="price main-color"><span>SR</span>{{obOffer.price}}</span> </b></p>
					    {% endif %}
					</td>
				</tr>
				{% endfor%}
			</tbody>
		</table>
	</div>
</section>