title = "Services"
url = "/services"
layout = "default"
is_hidden = 0

[Worcbox\Features\Components\Items items]
type = "tab"
count = 0
==
<section class="page-banner second-22">
	<div class="container">
		<div class="bread">
			<h3>الخدمات</h3>
		</div>
	</div>
</section>
<br/><br/>
<div class="container">
	{% set items = items.items %}
	{% for item in items %}
	<h4 class="text-warning">{{item.title}}</h4>
	<div class="row mb-5">
		<div class="col-12 col-md-4 order-md-12">
			{% if item.icon.path %}
			<img class="img-fluid" src="{{item.icon.path}}" alt="{{item.title}}" />
			{% endif %}
		</div>
		
		<div class="col-12 col-md-8 order-md-1">
			<p>{{item.description | nl2br}}</p>
		</div>
	</div>
	{% endfor %}
</div>